<template id="header">
    <div class="first-child">
        <div class="home">
            <p class="houseText"><img src="Assets/fa-house.svg" alt="Artwork 7">トップ</p>
        </div>
        <div class="other">
            <span class="text-1"><p>ログイン</p><img src="Assets/fa-regular_fa-envelope.svg"></span>
            <span class="text-2"><p>お問い合わせ</p><img src="Assets/fa-solid_fa-arrow-up-right-from-square.svg"></span>
        </div>
    </div>
    
    <div class="second-child">
        <div class="searchingBar">
            <p>どんな事でお困りですか？</p>
            <form class="" id="searchingContainer">
                <p><img src="Assets/fa-solid_fa-magnifying-glass.svg"></p>
                <input class="form-control" id="searchingInput" type="search" placeholder="キーワードを入力">
            </form>
            <button class="buttonSearching">検索</button>
        </div>
    </div>
    <script>
        
    </script>
</template>
