<template id="leftNavi">
    <button id="buttonCallLeftNavi">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
            </svg>
        </span>
    </button>
    <div id="leftNaviContainer" class="overlay">
        <button id="buttonTurnOffLeftNavi">
            <span><i class="fa-solid fa-xmark"></i>
            </span>
        </button>
        <img class="sidebarLogo" src="Assets/アートワーク_7.svg" alt="Sidebar Logo">
        <div class="sidebarButton">
            <button><span>サポートサイト</span></button>
        </div>
        <ul class="leftNaviMenu">
            <li><span>検査結果画面の解説</span><img src="Assets/fa-solid_fa-angle-right.svg" alt="Right Arrow"></li>
            <li><span>主な機能</span><img src="Assets/fa-solid_fa-angle-right.svg" alt="Right Arrow"></li>
            <li><span>利用シーン別ガイド</span><img src="Assets/fa-solid_fa-angle-right.svg" alt="Right Arrow"></li>
            <li><span>初めてご利用の方へ</span><img src="Assets/fa-solid_fa-angle-right.svg" alt="Right Arrow"></li>
            <li><span>FAQ</span><img src="Assets/fa-solid_fa-angle-right.svg" alt="Right Arrow"></li>
        </ul>
    </div>
</template>
